<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="http://congrist.com#">Congrist</a></strong>
			- Congrist is an iOS app I am currently designing and developing that provides easy access to real-time information on Congress. It is written in Swift and uses Parse as the backend. 
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">Wody</a></strong>
			- Wody is a medical and recreational marijuana dispensary discovery website under active development. I am one of two engineers building this site. It was built using the MEAN (Mongo, Express, Angular, Node) stack and is where I've been cutting my teeth on newer web technologies.
		</h5>
		<h5>
			<i class="fa fa-gamepad"></i>&nbsp;&nbsp;<strong><a href="https://github.com/stoneyb/DatDitDot">DatDitDot</a></strong>
			- DatDitDot is an iOS game I worked on as an exploration of Swift and SpriteKit. It was a joy to work on, unfortunately work has ceased on this project.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/stoneyb/dreamer">Dreamer</a></strong>
			- An exploration of Google's Deepdream project. This was a lot of fun to play around with and produced some very interesting images. Code written in Python.
		</h5>
		<h5>
			<i class="fa fa-flag"></i>&nbsp;&nbsp;<strong><a href="#">RMFU Feed</a></strong>
            - Feed is a project I worked on as part of Code for Denver. This project was for the Rocky Mountain Farmers Union. Feed is a website to help farmers stay informed and connected with their peers.
            It was written in Clojure/Clojurescript using Mongodb.
		</h5>


    </div>
  </div>
</div>
</section>
