<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">Project 1</a></strong>
			- Ei viderer tacimates pro, quem assum ea nam. Veritus omnesque eam te. Et natum mucius tamquam vel,
			ea dolorem volumus deterruisset nec. Graeci mentitum sea an, eu prima elaboraret est.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">Project 2</a></strong>
			- An eripuit phaedrum qui, nec facer splendide ex, vel ea assum facilisi convenire.
			Te his neglegentur consectetuer.
		</h5>
    	<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">Project 3</a></strong>
			- An alii quot tantas eum, doming platonem persecuti mea et, vim perpetua cotidieque delicatissimi in.
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Project 4</a></strong>
			- Vim an case vidit sententiae, est at euismod laboramus efficiantur. Ei sit brute lorem,
			ea eam timeam viderer aliquid, cu integre omittam moderatius quo.
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Project 5</a></strong>
			- Dicta causae meliore ex vel, in vix erant integre petentium. Vix ei nisl scripta recusabo,
			eam doming blandit facilisis.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/stoneyb/dreamer">Dreamer</a></strong>
			- An exploration of Google's Deepdream project. This was a lot of fun to play around with and produced some very interesting images. Code written in Python.
		</h5>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="#">RMFU Feed</a></strong>
            - A project I worked on as part of Code for Denver. This project was for the Rocky Mountain Farmers Union. Feed is a website to help farmers stay informed and connected with their peers.
            It was written in Clojure/Clojurescript using Mongodb.
		</h5>


    </div>
  </div>
</div>
</section>
